<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate Example</title>
</head>
<body>

<h1>Hello World!</h1>
<p>This page will be translated to Nepali using Google Translate.</p>
<p>kageshwori manohara nagar hospital</p>

<!-- Google Translate dropdown -->
<div id="google_translate_element"></div>


<script type="text/javascript">

// Force Nepali translation before page loads
function setNepaliLanguage() {
    var lang = "ne";
    var cookieValue = "/en/" + lang;
    document.cookie = "googtrans=" + cookieValue + ";path=/";
    document.cookie = "googtrans=" + cookieValue + ";domain=" + window.location.hostname + ";path=/";
}

// Call immediately
setNepaliLanguage();

function googleTranslateElementInit() {
    new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'ne',
        autoDisplay: false
    }, 'google_translate_element');
}

</script>

<script type="text/javascript"
src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>


</body>
</html>
